<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= "rahulkar".toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea veniam saepe quibusdam ab exercitationem quidem, doloremque, repellendus officiis ducimus incidunt dolorum dolor ullam. Quaerat, nihil commodi? Nesciunt vel voluptatem quae.</p>
    <button>Clickme!</button>
</body>
</html>