<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home Page</h1>
    <h3>
        <%= 1+2 %>
    </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, quas!</p>
    <button>Click me</button>
</body>

</html>