<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RollDice</title>
</head>

<body>
    <h1>Namaste, <%= username %>
    </h1>
    <h3>Roll Dice Value : <%= dicenumber %>
    </h3>
    <% if(dicenumber==6){ %>
        <h5>Nice! Roll Dice again</h5>
        <% } %>
</body>

</html>